
/* collections page banner */
.dot-collections-page .dot-banner {
  padding-top: 55px;
  padding-bottom: 15px;
  min-height: 48px;
  color: rgba(255, 255, 255, 1);
}
@media (min-width: 768px) {
  .dot-collections-page .dot-banner {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

/* article collections */
.article-collections {
  padding-bottom: 91px;
}

.article-collection {
  margin-top: 32px;
}
@media (min-width: 768px) {
  .article-collection {
    margin-top: 48px;
  }
}

.article-collection .collection-name {
  margin-bottom: 16px;
}
.article-collection .collection-name > span:first-child {
  font-size: 1.125rem;
}
.article-collection .collection-name > span:last-child {
  margin-left: -5px;
  color: #bbb;
  font-size: 0.75rem;
}

.article-collection ol {
  padding-left: 28px;
  line-height: 2;
  color: #555;
  list-style-type: disc;
}
.article-collection ol li {
  padding: 0;
  margin: 10px;
  border-bottom: 1px dashed #ccc;
}
.article-collection ol li span {
  font-size: 0.875rem;
  line-height: 2;
  color: #555;
  background: #fff;
}
.article-collection ol li a {
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  color: #666;
}
