
/* website markdown */
.ws-markdown {
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

/* website markdown code */
.ws-markdown .highlighter-rouge {
  background: #000;
  padding: 1px;
}
